/* body{
    background-color: rgb(192, 14, 14);
} */
 .inputproduct{
    display:flex;
   
    gap: 10px;
    width: 200px;
    margin-bottom: 20px;
    input{
     align-items: center;
     padding: 20px;
     border-radius: 20px;
    }
 }
    button{
        padding: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        color: white;
        background-color: black;
    }
    button:hover{
background-color: gray;
    }
 

.productimage{
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: transform 0.2s;
}
.productimage:hover{
    transform: scale(1.06);
}
.productcard{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
    background-color: white;
    padding: 20px;
    overflow: hidden;
}